<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="my-3">
        <h2>予約変更</h2>
      </div>
      <%= render "form" %>
      <div class="text-center mb-3">
        <%= link_to '一覧へ', dashboard_reservations_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>