<p><%= @contact.name %>様</p>

<p>この度は、お問い合わせいただき誠にありがとうございます。</p>

<p>3営業日以内に、担当者よりご連絡いたします。</p>

<p>今後ともICHIGO大福ををよろしくお願いいたします。</p>

<p>========== お問い合わせ内容 ==========</p>

<p><%=@contact.category_i18n%></p>

<p><%= simple_format @contact.message %></p>

<p>===================================</p>


<p>このメールは送信専用のメールアドレスから配信しております。</p>

<p>発行元:ICHIGO大福</p>
<p>Copyright © 2022 ICHIGO大福</p>