@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Murecho&display=swap');
@import 'toppage';
@import 'button';
@import 'form';
@import 'flash';
@import 'admin';
@import 'calendar';


body {
  background-color: #f9fcfb;
  padding-top: 76px;
  font-family: Lato, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  min-height:100vh ;
  position: relative;
  box-sizing:border-box;
}

.img-fluid {
  width: 100%;
  height: auto;
}
a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.error {
  color: #ea352d;
  line-height: 1.5;
  font-size: 14px;
  margin-top: 8px;
  border-color: #ea352d;
}

.title{
  font-weight: bold;
  font-size: 30px;
}

//thanks_page
.content{
  margin-top: 200px;
}
