<div class="row">
  <div class="col-12 mb-3">
    <%= form_with model:@contact, url: dashboard_contact_path(@contact), local: true  do |f| %>
      <div class="row">
        <div class="form-inline align-items-right mx-auto">
          <div class="col-auto">
            <%= f.select :status, Contact.statuses_i18n.invert, {}, {class: "form-control", required: true} %>
          </div>
          <div class="col-auto">
            <%= f.submit "更新",  class: "btn btn-dark btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
